<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create new building</h3>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="number">Building Number</label>
        <input type="number" class="form-control" id="number"
               ng-model="building.buildingNumber" placeholder="Enter building number">
      </div>
      <div class="form-group">
        <label for="name">Building Name</label>
        <input type="text" class="form-control" id="name"
               ng-model="building.buildingName" placeholder="Enter building name">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="addBuilding()">Submit</button>
    </form>
  </div>
</div>

<br>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Existing buildings</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th>Building No.</th>
          <th>Building Name</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="(id, building) in buildings">
          <form class="form-inline">
            <td><input type="number" class="form-control" ng-model="building.buildingNumber"></td>
            <td><input type="text" class="form-control" ng-model="building.buildingName"></td>
            <td>
              <button type="button" class="btn btn-default" ng-click="updateBuilding(id)">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-default" ng-click="removeBuilding(id)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </form>
        </tr>
      </table>
    </div>
  </div>
</div>