<div class="jumbotron">
  <h2>Angular, AngularFire hands-on!</h2>
  <p class="lead">
    This example shows the best practices for Angular applications working together with AngularFire & Firebase.
  </p>
  <div ng-if="!isLoggedIn()">
    Currently you are not logged in.
    Please click <a href="" ng-click="login()">here</a> to log in anonymously and access other functionality.
  </div>
  <div ng-if="isLoggedIn()">
    <h4>Auth data:</h4>
    <div class="alert alert-success">
      {{authData}}
    </div>
    <button type="button" class="btn btn-success" ng-click="logout()">Done. Log me out.</button>
  </div>
  <div class="alert alert-danger" ng-if="errorDuringLoggingIn()">
    Error: {{error}}
  </div>
</div>
